{% extends 'base.html.twig' %}

{% block body %}
    <h1>Add Article</h1>

    {{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.title) }}
        {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="form-group">
        {{ form_label(form.text) }}
        {{ form_widget(form.text, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="form-group">
        <label>Authors</label>
        <div class="author-list">
            {% for author in form.authors %}
                <div class="form-check">
                    {{ form_widget(author, {'attr': {'class': 'form-check-input'}}) }}
                    {{ form_label(author) }}
                </div>
            {% endfor %}
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Add</button>
    {{ form_end(form) }}

    <a href="{{ path('article_index') }}">Back to list</a>

    <style>
        .author-list {
            display: flex;
            flex-direction: column;
        }

        .form-check {
            margin: 0 0 8px;
        }
    </style>

{% endblock %}

